.nav-style{

    padding: 5px;
    transition: .25s all ease-in-out;
    background-color: aliceblue;
}

header{
    background-color: aliceblue;
    color: black;

}

.nav-style:hover{
    padding: 1px;
    background-color: aquamarine;

}

.slider-height{


    height: 100vh;
}
